ul li::before {
    content: "\2022";
    color: #00DCDC;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    content: "•";
    font-size: 200%; /* or whatever */
    padding: 4%;
  }
